@tailwind base;
@tailwind components;
@tailwind utilities;
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  background-color: #222222;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  min-width: 100%;
}
#root {
  min-width: 100%;
}

button {
  border-radius: 3px;
  border: 1px solid black;
  padding: 7px 12px;
  font-weight: 500;
  cursor: pointer;
}
